/* Stylesheet for the project */

ul {
    list-style-type: none;
  }
  
.list {
    color: #095953;
    font-weight: 400;
    font-size: 1.88vw;
    padding-top: 41px;
    padding-right: 32px;
    font-family: Fira Sans;
    float: right;
  }

#designing {
    font-family: Fira sans;
    font-size: 5vw;
    font-weight: bold;
    color:  #0B423E;
    padding-left: 70px;
    padding-top: 196px;
    letter-spacing: 0.025em;
  }
  
  
button {
    width: 295px;
    height: 77px;
  }


h3 {
    color: #095953;
    font-size: 2.5vw;
    font-family: Fira Sans;
    font-weight: bold;
}

p {
    font-size: 1.4vw;
    color: #547B78;
    font-weight: 500;
    font-family: 'Poppins';
}

button {
    background-color: #095953;
    color: white;
    font-weight: bold;
    width: 295px;
    height: 77px;
    border: none;
    font-size: 1.88vw;
    font-family: Fira Sans;
    border-radius: 5px;
}

.bodyImage {
    width: 491px;
    height: 375px;
}

img{
  max-width: 100%;
}

@media only screen and (max-width: 620px) {
    /*For mobile phones*/
    * {
        max-width:100%
    }
}

h2{
    font-family: Fira Sans;
    font-size: 2.5vw;
    color: #095953;
}

#impactUser {
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
}

#impactPara {
    text-align: center;
    display: block;
    padding-bottom: 60px;
}


#yuji{
    font-family: Fira Sans;
    font-size: 20px;
    background-color: #3B5249;
}

.info{
   
    color:white;
    font-family: Fira Sans;
    list-style-type: none;
}

ul li{
    color: white;
}

.tdPad {
    padding-left: 77px;
}
